.login-button{
    -fx-background-color: #d8efd3;
    -fx-background-radius: 35;
}

.username-textfield{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
}

.password-textfield{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
}

.register-button{
    -fx-background-color: #95d2b3;
}